@import "settings/variables";
@import "../../../../libraries/bootstrap/scss/bootstrap";
@import "../../../contrib/nebula/scss/wysiwyg";

@import "../../../contrib/nebula/scss/lists";

.header__top {
  background: #cc181e;
  color:#fff;
  overflow: hidden;
  min-height: 40px;
  line-height: 40px;
  a {
    color:#fff;

  }
}