<div{{ attributes.addClass('row') }}>
    <div class="col-md-3">
        <div {{ region_attributes.left.addClass('layout__region')}}>
            {{ content.left }}
        </div>
    </div>
    <div class="col-md-9">
        <div {{ region_attributes.right.addClass('layout__region') }}>
            {{ content.right }}
        </div>
    </div>
</div>